*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
/production/
figwheel_server.log
pom.xml
pom.xml.asc
.shadow-cljs
.clj-kondo
.lsp
.cpcache
