^{:watch-dirs ["test" "src/cljs" "src/cljc"]
  :css-dirs ["resources/public/onyx/sim/css"]
  :auto-testing true
  :ring-handler onyx.sim.dev/ring-handler
  }
{:main onyx.sim.system
 :optimizations :none
 :pretty-print true
 :source-map true
 :asset-path "cljs-out/dev"
 :output-to "target/public/cljs-out/main.js"
 :output-dir "target/public/cljs-out/dev"}
